# Build-Artefakte
/build/
/plugin/build/

# Python-Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Editor-spezifische Dateien
.vscode/
.idea/

# macOS-spezifische Dateien
.DS_Store


# Docs
docs/instuctions.md
